.cover__subtitle {
    padding: 0;
    margin: 0;
    width: 360px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFF;
    text-decoration: none;
    padding-bottom: 245px;
}

@media screen and (max-width: 1279px) {
    .cover__subtitle {
        padding-bottom: 195px;
    }
}

@media screen and (max-width: 1023px) {
    .cover__subtitle {
        padding-bottom: 115px;
    }
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        padding-bottom: 33px;
        width: 288px;
        font-size: 14px;
        line-height: 16px;
    }
}