.place__paragraphs {
    outline: 1px solid red;
}

@media screen and (max-width: 1023px) {
    .place__paragraphs {
        
    }
}

@media screen and (max-width: 767px) {
    .place__paragraphs {
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 32px;
    }
}