.cover__overlay {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    background: rgba(42, 44, 43, .3);
    transition: .5s;
}

.cover__overlay:hover {
    background: rgba(42, 44, 43, .7);
    transition: .5s;
}
